@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Application // This is the model that I want to use in this view

@if (Model.CreeperStalker == false)
{
    <h1>Application Received. Thank you, @Model.FirstName.</h1>
}
else
{
    <h3>Oh shoot, my bad. Get out of here you creep.</h3>
}

