@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Dating Application</h1>

<form>
    <label>First Name:</label>
    <input />
    <br />
    <label>Last NAme:</label>
    <input />
    <br />
    <label>Age:</label>
    <input />
    <br />
    <label>Phone Number:</label>
    <input>
    <br />
    <label>Major:</label>
    <input />
    <br />
    <label>Occupation:</label>
    <input />
    <br />
    <label>Are you a creeper and/or stalker?</label>
    <select>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    <button type="submit">Submit the Application</button>
</form>