@{
    ViewData["Title"] = "Home Page";
}

<h1>Date Spencer Hilton</h1>
<div>
    <p>Today is your lucky day. You may have the opportunity to date this...</p>
    <img src="~/images/hannahwedding.jpg" height="500"/>
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill out an application to date me</a> <!--These asp things are tag helpers. From ViewImports-->
</div>
